* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  list-style: none;
  text-decoration: none;
  /* font-family: "Josefin Sans", sans-serif; */
}

body {
  /* background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat; */
}

.wrapper .multi_color_border {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #37a000 0%, #37a000 25%, #494949 25%, #494949 50%, #37a000 50%, #37a000 75%, #494949 75%, #494949 100%);
}

.wrapper .top_nav {
  margin-top: 3px;
  /* width: 100%; */
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: bold;
  color: #494949;
  font-family: "Mountains of Christmas", cursive;
  margin-right: 25px;
}

.logo span {
  color: #37a000;
  font-family: "Mountains of Christmas", cursive;
}

.wrapper .top_nav .left .search_bar input[type="text"] {
  border: 1px solid #666666;
  padding: 5px 10px;
  margin-left: 15px;
  outline: none;
  transition: all 0.5s linear;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus {
  width: 250px;
}

.wrapper .top_nav .right ul {
  display: flex;
  /* justify-content: space-around; */
}

.wrapper .top_nav .right ul li {
  margin: 0 2px;
}

.wrapper .top_nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: #666666;
}

/* .wrapper .top_nav .right ul li:last-child a{
   color: black;
} */
/* .wrapper .bottom_nav{
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 50px;
} */
/* .wrapper .bottom_nav ul{
  width: 100%;
  height: 45px;
  display: flex;
  justify-content:space-around;
  align-items: center;
} */
/* bottom nav */
a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-bottom: 15px;
  background-image: url(../images/bg4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}

.menu-toggle {
  position: fixed;
  top: 2.5rem;
  right: 2.5rem;
  color: #eeeeee;
  font-size: 3rem;
  cursor: pointer;
  z-index: 1000;
  display: none;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-transform: uppercase; */
  font-size: 1.6rem;
}

.brand {
  /* font-size: 2rem;
	font-weight: 300; */
  transform: translateX(-100rem);
  animation: slideIn .5s forwards;
  font-family: "Mountains of Christmas", cursive;
}

.brand span {
  color: crimson;
  font-family: "Mountains of Christmas", cursive;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  transform: translateX(100rem);
  animation: slideIn .5s forwards;
}

nav ul li:nth-child(1) {
  animation-delay: 0s;
}

nav ul li:nth-child(2) {
  animation-delay: .5s;
}

nav ul li:nth-child(3) {
  animation-delay: 1s;
}

nav ul li:nth-child(4) {
  animation-delay: 1.5s;
}

nav ul li:nth-child(5) {
  animation-delay: 2s;
}

nav ul li:nth-child(6) {
  animation-delay: 2.5s;
}

nav ul li:nth-child(7) {
  animation-delay: 3s;
}

nav ul li a {
  padding: 1rem 0;
  margin: 0 3rem;
  position: relative;
  letter-spacing: 2px;
}

nav ul li a:last-child {
  margin-right: 0;
}

nav ul li a::before,
nav ul li a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: crimson;
  left: 0;
  transform: scaleX(0);
  transition: all .5s;
}

nav ul li a::before {
  top: 0;
  transform-origin: left;
}

.active-nav-link {
  border-bottom: 2px solid #37a000;
}

.active-nav-link a {
  color: #37a000 !important;
}

nav ul li a::after {
  bottom: 0;
  transform-origin: right;
}

.overlay {
  background-color: rgba(0, 0, 0, .95);
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  transition: opacity 650ms;
  transform: scale(0);
  opacity: 0;
  display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
  transform: scaleX(1);
}

@keyframes slideIn {
  from {}

  to {
    transform: translateX(0);
  }
}

@media screen and (max-width: 700px) {
  .menu-toggle {
    display: block;
  }

  nav {
    padding-top: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin-top: 5rem;
  }

  nav ul li a {
    margin: 0;
    font-size: 2.5rem;
  }

  .tpy {
    font-size: 3rem;
  }

  .brand {
    font-size: 5rem;
  }

  .overlay.menu-open,
  nav.menu-open {
    display: flex;
    transform: scale(1);
    opacity: 1;
  }
}

/* bottom_nav */
.wrapper .bottom_nav ul li a {
  color: #494949;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.wrapper .banner img {
  width: 100%;
  height: 400px;
}

/* carousel what we have been doing */
#slider {
  overflow: hidden;
  height: 600px;
}

#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s slider infinite;
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider {
  0% {
    left: 0;
  }

  20% {
    left: 0;
  }

  25% {
    left: -100%;
  }

  45% {
    left: -100%;
  }

  50% {
    left: -200%;
  }

  70% {
    left: -200%;
  }

  75% {
    left: -300%;
  }

  95% {
    left: -300%;
  }

  100% {
    left: -400%;
  }
}

/* carousel */
/* ourTeam */
.team-section {
  height: 95vh;
  display: flex;
}

.person {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  transition: .6s;
}

.person:hover {
  flex: 4;
}

.person-pic {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
  transition: .3s;
}

.person:hover .person-pic {
  filter: grayscale(0);
}

.person-info {
  position: absolute;
  bottom: 10px;
  text-align: center;
  width: 100%;
  opacity: 0;
  transition: .2s;
}

.person:hover .person-info {
  opacity: 1;
  bottom: 60px;
  transition-delay: .6s;
}

.person-info h2 {
  font-size: 20px;
  color: #fff;
}

.person-info p {
  color: #b8e994;
  font-style: italic;
  margin-top: 8px;
  margin-bottom: 20px;
}

.socialmedia a {
  display: inline-block;
  width: 40px;
  height: 40px;
  color: #333;
  background-color: #b8e994;
  line-height: 40px;
  border-radius: 50%;
  margin: 0 6px;
  font-size: 18px;
  transition: .3s linear;
}

.socialmedia i {
  padding: 12px;
}

.socialmedia a:hover,
form button:hover {
  color: #b8e994;
  background-color: transparent;
  transform: scale(1.5);
}

/* footer */
/* footer {
  padding: 2.5rem 0;
  background-color: #d7d4ed;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
} */
footer {
  /* position: fixed; */
  bottom: 0;
  width: 100%;
  background-color: azure;
}

.footer {
  width: 100%;
  background: #00121b;
  display: block;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.footer-items h1 {
  padding: 10px 0;
  font-size: 25px;
  color: #fff;
  text-transform: uppercase;
}

.footer-items p {
  color: grey;
  font-size: 16px;
  text-align: justify;
  line-height: 20px;
}

.footer-items h2 {
  margin: 10px 0;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.border {
  height: 2px;
  width: 40px;
  background: crimson;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: crimson;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.footer-bottom {
  padding: 10px;
  background: #3d545f;
  color: #fff;
  font-size: 12px;
  text-align: center;
}
footer .up {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-color: #eee;
  /* top: -2.5rem; */
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.up i {
  color: black;
  font-size: 2rem;
  margin: auto;
}



/* animations */

@keyframes pulse{
0%{
  box-shadow: 0 0 0 0 crimson;
}
70%{
  box-shadow: 0 0 0 1.4rem rgba(253, 87, 191, 0);
}
100%{
  box-shadow: 0 0 0 0 rgba(253, 87, 191, 0.99);
}
}

@media screen and (max-width: 900px) {
  footer {
    position: relative;
    bottom: 0;
  }
}

/* Contact us */
/* container utility */
#fancy-form .container {
  background-image: url(../images/desk.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  align-content: center;
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/* main div */
.form-sections {
  margin-top: 5rem;
  display: grid;
  grid-gap: 5rem;
  grid-template-columns: repeat(2, 1fr);
}

/* Form-left styling */
.Form-left h1 {
  padding: 0;
  margin: 0;
}

.Form-left h4 {
  padding: 0;
  margin: 0;
  color: rgb(243, 235, 235);
}

.line {
  border-bottom: 2px solid crimson;
  width: 8%;
  margin-left: 0;
}

.Form-left span {
  color: rgb(187, 182, 182);
  font-weight: bold;
}

.Form-left hr {
  width: 25rem;
  margin-left: 0;
  border: 1px solid rgb(53, 52, 52);
}

/* Form Right Styling */
.Form-right h1 {
  padding: 0;
  margin: 0;
}

form {
  padding-top: 2rem;
}

form h5 {
  padding: 0;
  margin: 0;
  color: rgb(228, 218, 218);
}

form input {
  padding: 0.6rem;
  width: 27rem;
  border: none;
  background-color: rgba(136, 133, 133, 0.3);
  color: white;
  border: none;
  outline: none;
}

form textarea {
  padding: 0.6rem;
  width: 27rem;
  border: none;
  background-color: rgba(136, 133, 133, 0.3);
  color: white;
  border: none;
  outline: none;
}

form button {
  display: inline-block;
  color: #333;
  background-color: #b8e994;
  line-height: 30px;
  border-radius: 50px;
  margin: 0 6px;
  font-size: 18px;
  transition: .3s linear;
  width: 9rem;
  padding: 5px;
  text-align: center;
  cursor: pointer;
}

.google-maps {
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

/* media queries */
@media (max-width: 968px) {
  #fancy-form .form-sections {
    display: block;
    width: 100%;
    text-align: left;
  }

  .form-sections .Form-right {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* socail media icons */
  .fa {
    padding: 8px;
    font-size: 18px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    color: rgb(187, 182, 182);
  }
}

/* Contact us */
/* aboutus */
